img {
    width: 783px;
    height: 1001px
}

.cb li {
    padding-right:0.5em;
}

div.left {
    margin-right:2.5em;
}

.attente {
    font-size: smaller;
    margin-left: -0.5em;
}

.attente.inline {
    margin-left: 0;
}


#boundList {
    margin-top: 1em;
}

#edition li {
    line-height: 1.1em;
}
.blue {
    color: blue;
}

.red {
    color: red;
}

.black {
    color: black;
}