img {
    width: 783px;
    height: 1001px
}

.attente {
    font-size: smaller;
    margin-left: -0.5em;
}

#boundList {
    margin-top: 1em;
}

#edition li {
    line-height: 1.1em;
}
.blue {
    color: blue;
}

.red {
    color: red;
}

.black {
    color: black;
}