/*#6d4949 */

body {
    margin: 2%;
    background-color: white;
    padding:1.5%;
}

#edition {
    display: flex;
    font-family: 'Junicode', 'Free Serif', 'EversonMono';
    justify-content:space-around;
}

@font-face {
    font-family: 'Junicode';
    src: url('../fonts/Junicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('../fonts/Junicode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

.criteria {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

#refresh {
    height:3em;
}

fieldset {
    border:0;
}

label {
    margin-right:1em;
}


/*Edition*/

#boundList {
    display:flex;
    width:35%;
    margin-top:4em;
}

.reg {
    display:none
}

.ex{
    font-style: italic;
}

.expan {
    display:none;
}

ins{
    text-decoration:none;
    font-style: italic;
    
}



.hide {
visibility:hidden;
}

.a {
    margin-right:4%;
}

#edition ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#edition li{
    counter-increment: numbers;
    position: relative;
    margin-left: 4%;
    color: black;
    margin-right:2%;
    width:100%;
}

.ca li::before{
    content: counter(numbers) '   ';
    font-size: 80%;
    color: #838383;
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: -2.5em;
    width: 2em;
    padding:0;

}
.cb li::after{
    content: counter(numbers);
    font-size: 80%;
    color: #838383;
    font-weight: bold;
    text-align: right;
    float:right;
    width: 2em;
    padding:0;

}


.lines {
    width:100%;
}

li.hasRight{
display:flex;
justify-content:flex-end;
}

#outside {
    float:right;
}

ins.right {
    padding-right:1em;
}

.initial {
    font-weight:bold;
    font-size: larger;
}

/*Hands colours*/

.colocci, .correcteur{
    color: darkolivegreen;
}

.b, .α{
    color:darkmagenta;
}

.tardive{
    color: coral;
}

.reviseur{
    color: mediumturquoise;
}