img {
    width: 783px;
    height: 1001px
}



div.left {
    margin-right:2.5em;
}

.attente {
    font-size: smaller;
    margin-left: -0.5em;
}

.attente.inline {
    margin-left: 0;
}


#boundList {
    margin-top: 1em;
}

#edition li {
    line-height: 1.1em;
}
.blue {
    color: blue;
}

.red {
    color: red;
}

.black {
    color: black;
}




@media all and (max-width : 1530px) {

    body {
        margin: 1%;
        padding: 1%;
    }

}

@media all and (max-width : 1460px) {

    body {
        margin: 1% 0.5% 1% 0.5%;
        padding: 1% 0.5% 1% 0.5%;
        font-size: 11pt;
    }

    .ca li::before {
        left: -2em;
    }
}

@media all and (max-width : 1450px) {

    body {
        font-size: 10pt;
        margin: 1% 0.1% 1% 0.5%;
        padding: 1% 0.1% 1% 0.5%;

    }
    #edition {
        margin-left:0;
        padding-left:0
    }
}

@media all and (max-width : 1435px) {

    body {
        font-size: 9pt;

    }
}